html, body {
    margin: 0px;
    padding: 0px;
}



.container {
    height: 100vh;
    width: 100%;
    display: grid;
    border: 1px solid black;
    grid-template-rows: 1.5fr 1.5fr 10fr 1fr 1.5fr;
    grid-template-areas:
        "menu_mobile"
        "precio"
        "contenido_mobile"
        "page_selector"
        "footer";
    padding: 0px;
    
}

.mobile_nav {
    padding: 10px;
    grid-area: menu_mobile;
    background: black;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    
    
    
}

i {
    color: white;
    align-items: flex-end;
    
    
}

.logogrubmob {
    margin-right: 30%;
}

header {
    background-color: red;
    grid-area: precio;
    padding: 10px;
    color: black;
}

.cont_mobile {
    grid-area: contenido_mobile;
    padding: 10px;
    background-color: bisque;
}

.cont_desktop {
    display: none;
}

.page_selector {
    grid-area: page_selector;
    color: black;
    background-color: bisque;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    grid-area: footer;
    background: red;
    padding: 10px;
}

.desktop_nav {
    display: none;
}

.pagination {
    display: inline-block;
  }
  
  .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
  }


@media (min-width: 576px) {
    .container {
        grid-template-areas: 
            "menu_desktop precio"
            "menu_desktop contenido_desktop"
            "menu_desktop contenido_desktop"
            "footer page_selector";
        grid-template-columns: 2fr 10fr;
        grid-template-rows: 2fr 10fr 2fr 2fr; 
        grid-auto-flow: column;
        width: 100%;
        
        
    }

    .logogrubmob {
        margin-right: 0px;
    }

    .mobile_nav {
        display: none;
        
    }

    .desktop_nav{
    padding: 10px;
    grid-area: menu_desktop;
    background: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    }

    .logogrubdesk{
        margin: 0px;
    }

    ul {
        padding: 0px;
    }

    li {
        list-style: none;
        padding: 0px;
    }

    .cont_desktop {
        grid-area: contenido_desktop;
        padding: 10px;
        background-color: bisque;
        color: black;
        display: flex;
    }

    .cont_mobile {
        display: none;
    }

}